.signIn{
    // border: solid 1px red;
    display: flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    // justify-content: center;
    background-color: rgb(107, 107, 107);
    // 

    .SignInForm{
        // border: solid .5px rgb(255, 144, 144);
        display: flex;
        flex-direction: column;
        justify-content: center;
        // justify-content: space-around;
        width: 35%;
        padding: 10px;
        height: 50vh;
        background-color: rgb(208, 219, 219);
        border-radius: 5px
    }

    .provider{
        height: 50vh;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(208, 219, 219);
        border-radius: 5px;
    }

    .register-message{
        // border: solid 1px yellow;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .register-link{
            text-align: center;
            background-color: rgb(233, 233, 233);
            border-radius: 5px;
            padding: 5px;
        }
    }

}
