.signIn{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    // background-color: rgb(104, 104, 104);

    .SignInForm{
        display: flex;
        flex-direction: column;
        // width: 100%;
        padding: 20px;
        height: 85vh;
        // border: solid 1px rgb(165, 165, 165);
        background-color: rgb(255, 255, 255);

        .signInHeader{
        padding-top: 7vh
        }

        .separator{
            margin-top: 2vh;           
        }


        .register-message{
            height: 10%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
    
            .register-link{
                text-align: center;
                background-color: white;
                border-radius: 5px;
                padding: 6px;
            }
    }
}

    .box-2{
        height: 85vh;
        width: 60%;
        background: linear-gradient(to top right, rgb(100, 100, 223), rgb(248, 204, 212));
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
            
        .wave {
            opacity: .3;
            position: absolute;
            top: 3%;
            left: 50%;
            background: rgb(233, 120, 120);
            width: 800px;
            height: 800px;
            margin-left: -250px;
            margin-top: -250px;
            transform-origin: 50% 48%;
            border-radius: 43%;
            animation: drift 10s infinite linear;
          }

          @keyframes drift {
            from { transform: rotate(0deg); }
            from { transform: rotate(360deg); }
          }

          .s-title{
            //   border: solid 1px red;
              width: 50%;
              height: 20%;;
              text-align: center;
            //   letter-spacing: .4em;
              top: 35%;
              left: 23%;
              position: absolute;
              z-index: 1;
              font-size: 30px;
              font-weight: 200;
              color: white;
              text-transform: uppercase;
              font-family: 'Playfair Display', serif;
          }


        .des-div{
            border: solid 1px blue;
            display: flex;
            justify-content: center;
    

            .des-h{
                border: solid 1px red;
                width: 40%;
                font-size: 30px;
                text-align: center;
            }
        }
    }

    
}
        @media(max-width: 1024px){
           
        
           .div-1{
               width: 40%;
           }
        
           .SignInForm{
               height: 90vh;
           }
    
           .signIn{
               .box-2{
                   .wave{
                       top: 20%;
                   }
    
               }
           }
        
        }

@media(min-width: 768px){
    .box-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}



@media(max-width: 414px){
    .div-1{
        width: 100%;
    }
    .signIn{
        height: 91vh;
    }
    .SignInForm{
        width: 100%;
    }
    .box-2{
        display: none;
    }
}

