.signIn{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 146, 170);

    .SignInForm{
        display: flex;
        flex-direction: column;
        width: 35%;
        padding: 20px;
        height: 85vh;
        background-color: rgb(208, 219, 219);

        .signInHeader{
        padding-top: 7vh
        }

        .separator{
            margin-top: 4vh;
             text-align: center;
        }

        .register-message{
            height: 10%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
    
            .register-link{
                text-align: center;
                background-color: white;
                border-radius: 5px;
                padding: 6px;
            }
    }
}

    .box-2{
        height: 85vh;
        width: 50%;
        display: flex;        
        background-color: rgb(84, 166, 233);
        background-image: url('https://cdn.dribbble.com/users/1062479/screenshots/5711261/dribbble_shots_5-06_4x.png');
        background-size: cover;
    }


}
