.collection-item{
    // border: solid 1px red;
    width: 22%;
    height: 40vh;
    border-radius: 5px;

    .image{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        margin-bottom: 7px;
    }

    
    .collection-footer{
        // border: solid 1px red;
        display: flex;
        justify-content: space-between;
    }
   }

   .shadow{
        height: 100%; 
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: flex-end;

        .add-cart{
            background: white;
            position: relative;
        }
        
        .shadow:hover + .add-cart{
          
            height: 20px;
            // background-color: red;
        }
}
;
.shadow:hover{
    background-color: rgba(0, 0, 0, 0.4);  
}
