.cdd{   
    width: 50vh;
    position: absolute;
    z-index: 3;
    top:100%;
    right:.5%;
    
    .chk-out{
       padding: 0px 5px 12px 5px;
    }

    .cdd-title{
        text-align: center;
        padding: 20px 0 0 0;
        font-size: 1.3em;

    }

    .chk-btn{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .ui.fluid.button, .ui.fluid.buttons {
        width: 40vh;
    }
}

.card-3{
    border: solid 3px red;
    height: 60vh;
    overflow-y: auto; 
    overflow-x:hidden;
}

.card-3::-webkit-scrollbar-thumb {
   background-color: rgb(139, 139, 139)
  }

  .card-3::-webkit-scrollbar {
    width: 8px;
}


@media(max-width: 500px){
    .cdd{
        display: flex;
        justify-content: center;
        width: 50vh;

    }
}