@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.logo-container, .option{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.main-header{
    background-color: #1B1C1D;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .logo-container1{
        width: 50%;
        // border: solid 1px red;
        color: white;
      .H-name{
        font-family: 'Lobster', cursive;
        font-size: 3em;
        margin-left: 2vw;
        cursor: pointer;
      }
    }
    .option{
        padding: 10px 12px
    }

    .option:hover, .H-name:hover{
        color: rgb(160, 160, 160);
    }
}

.ham{
    display: none;
}

.h-items{
    margin-top: 3vh;

}


//ipad views
@media(max-width: 1024px){
    .logo-container1{
        font-size: 1.1em;
        width: 0%;
        // border: solid red 1px;
        // wdith: 0%;
    }

    .option{
        font-size: 15px;
    }
}

@media(max-width: 414px){
    .main-header{
        width: 100%;
        display: flex;
        justify-content: space-around;
        // align-content: center;
        padding-left: 1px
        // border: solid yellow 1px;
    }
    .ham, .btn-h{
        display: inline;
        color: white;
    }

    .options, .option{
        display: none;
    }
    .options-cart{
        // border: solid 1px orange;

    }
    .logo-container1{
        padding: 0;
        // width: 100%;
        margin: 0;
        text-align: center;
        font-size: 10px;
    }
}