.reg-cont{
    // background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    // padding: 20px;

    .reg-con-o{
        background: white;
        padding:0 10px 0 10px;
        // border: solid 1px red;
        height: 70vh;
        width: 30%;

        .reg-form{
            margin-top: 5vh;
        }
    }

    .reg-con-t{
        // border: solid 1px yellow;
        height: 70vh;
        width: 60%;
        background: lighten(#f0f4c3, 10%);
        position: relative;
        overflow: hidden;

        .wave {
            position: absolute;
            top: -75%;
            left: 14%;
            background: radial-gradient(rgb(255, 140, 140), rgb(135, 108, 255),);
            width: 1000px;
            height: 1025px; 
            margin-left: -250px;
            margin-top: -250px;
            border-radius: 35%;
            animation: drift 20s infinite linear;
          }

          @keyframes drift {
            from { transform: rotate(0deg); }
            from { transform: rotate(360deg); }
          }
            }

            @media screen and (max-width: 1024px){
              .reg-con-o{
                width: 50%;
              }
        
              .reg-con-t{
                width: 50%;
                .wave{
                  top: 0%
                }
              }
            }

            @media screen and (max-width: 630px){
              .reg-con-o{
                width: 90%;
          
              }
              .reg-con-t{
                display: none;
                // width: 90%;
              }
            }
          }
          
