@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');


body{

}

.App{
    padding-top: 10vh;
    /* font-family: 'sHind'; */
    font-family: 'Dosis', sans-serif; 
    background: rgb(223, 217, 217); 

}